<?xml version='1.0' encoding='ASCII'?>
<robot name="partnet_11e7166d-8424-4edf-98cf-783b60539214-body">
  <link name="base">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="base_body-2">
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100015/textured_objs/original-27.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </visual>
    <visual name="base_body-2">
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100015/textured_objs/original-31.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </visual>
    <visual name="base_body-2">
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100015/textured_objs/original-29.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </visual>
    <visual name="base_body-2">
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100015/textured_objs/original-30.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </visual>
    <visual name="base_body-2">
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100015/textured_objs/original-26.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </visual>
    <visual name="base_body-2">
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100015/textured_objs/original-25.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </visual>
    <visual name="base_body-2">
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100015/textured_objs/original-21.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </visual>
    <visual name="base_body-2">
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100015/textured_objs/original-22.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </visual>
    <visual name="base_body-2">
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100015/textured_objs/original-5.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </visual>
    <visual name="base_body-2">
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100015/textured_objs/original-6.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </visual>
    <visual name="base_body-2">
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100015/textured_objs/original-23.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </visual>
    <visual name="base_body-2">
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100015/textured_objs/original-7.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </visual>
    <visual name="base_body-2">
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100015/textured_objs/original-19.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </visual>
    <visual name="bottom">
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100015/textured_objs/original-21-bottom.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
      <material name="Transparent">
        <color rgba="1.0 1.0 1.0 0.0"/>
      </material>
    </visual>



    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100015/textured_objs/original-21-bottom.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
  </link>
</robot>
