<?xml version='1.0' encoding='ASCII'?>
<robot name="partnet_d9560bfc0c051109f54e1b6f41fdd78a-body">
  <link name="base">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="base_body-2">
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/original-5-new.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </visual>
    <visual name="base_body-2">
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/original-1-new.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </visual>
    <visual name="base_body-2--3">
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/original-9-fix.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </visual>
    <visual name="base_body-2--10">
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/original-14-fix.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </visual>
    <visual name="bottom">
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/braiser-bottom-new.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-0.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-1.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-2.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-3.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-4.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-5.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-6.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-7.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-8.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-9.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-10.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-11.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-12.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-13.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-14.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-15.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-16.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-17.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-18.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-19.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-20.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-21.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-22.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-23.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-24.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-25.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-26.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-27.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-28.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-29.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-30.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-31.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-32.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-33.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-34.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-35.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-36.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-37.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-38.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-39.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-40.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-41.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-42.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-43.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-44.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-45.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-46.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-47.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-48.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-9-fix_vhacd_1007954877_part-49.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-0.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-1.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-2.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-3.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-4.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-5.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-6.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-7.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-8.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-9.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-10.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-11.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-12.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-13.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-14.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-15.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-16.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-17.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-18.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-19.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-20.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-21.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-22.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-23.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-24.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-25.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-26.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-27.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-28.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-29.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-30.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-31.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-32.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-33.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-34.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-35.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-36.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-37.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-38.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-39.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-40.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/original-14-fix_vhacd_1719151593_part-41.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_minus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_plus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_minus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -4.997284939238118e-17 -1.4398966328953222"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_plus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -4.997284939238118e-17 -1.4398966328953222"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_minus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -9.909064947656733e-17 -1.3089969389957476"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_plus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -9.909064947656733e-17 -1.3089969389957476"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_minus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -1.465129810750911e-16 -1.1780972450961729"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_plus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -1.465129810750911e-16 -1.1780972450961729"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_minus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -1.9142843494634745e-16 -1.0471975511965983"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_plus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -1.9142843494634745e-16 -1.0471975511965983"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_minus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -2.3306849522168277e-16 -0.9162978572970236"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_plus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -2.3306849522168277e-16 -0.9162978572970236"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_minus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267948968 -2.707206889249803e-16 -0.7853981633974487"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_plus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267948968 -2.707206889249803e-16 -0.7853981633974487"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_minus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267948968 -3.0374077658281636e-16 -0.654498469497874"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_plus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267948968 -3.0374077658281636e-16 -0.654498469497874"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_minus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267948968 -3.315637753404674e-16 -0.5235987755982994"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_plus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267948968 -3.315637753404674e-16 -0.5235987755982994"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_minus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267948968 -3.537136259751975e-16 -0.3926990816987246"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_plus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267948968 -3.537136259751975e-16 -0.3926990816987246"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_minus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267948968 -3.6981133840154766e-16 -0.2617993877991501"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_plus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267948968 -3.6981133840154766e-16 -0.2617993877991501"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_minus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267948968 -3.795814762967739e-16 -0.13089969389957523"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_plus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267948968 -3.795814762967739e-16 -0.13089969389957523"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_minus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267948966 -3.8285686989269494e-16 -4.440892098500626e-16"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_plus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267948966 -3.8285686989269494e-16 -4.440892098500626e-16"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_minus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 4.9972849392381176e-17 -1.7016960206944718"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_plus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 4.9972849392381176e-17 -1.7016960206944718"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_minus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 9.909064947656733e-17 -1.8325957145940464"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_plus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 9.909064947656733e-17 -1.8325957145940464"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_minus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 1.465129810750911e-16 -1.9634954084936211"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_plus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 1.465129810750911e-16 -1.9634954084936211"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_minus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 1.9142843494634747e-16 -2.0943951023931957"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_plus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 1.9142843494634747e-16 -2.0943951023931957"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_minus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 2.3306849522168277e-16 -2.2252947962927703"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_plus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 2.3306849522168277e-16 -2.2252947962927703"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_minus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267948968 2.707206889249803e-16 -2.3561944901923453"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_plus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267948968 2.707206889249803e-16 -2.3561944901923453"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_minus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267948968 3.0374077658281636e-16 -2.48709418409192"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_plus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267948968 3.0374077658281636e-16 -2.48709418409192"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_minus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267948968 3.315637753404674e-16 -2.617993877991495"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_plus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267948968 3.315637753404674e-16 -2.617993877991495"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_minus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267948968 3.537136259751975e-16 -2.7488935718910694"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_plus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267948968 3.537136259751975e-16 -2.7488935718910694"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_minus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267948968 3.6981133840154766e-16 -2.879793265790644"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_plus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267948968 3.6981133840154766e-16 -2.879793265790644"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_minus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267948968 3.7958147629677396e-16 -3.010692959690219"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/two_pieces_x_plus.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267948968 3.7958147629677396e-16 -3.010692959690219"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../../assets/models/BraiserBody/100693/textured_objs/braiser-bottom-collision.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    </collision>
  </link>
</robot>
