**/*.pyc
.idea
**/*.bazel
temp
**/*.so

# windows extension build
*.pyd

**/.DS_Store
**~
**/*.swp
**/*.~un
build/

## temp file that shouldn't be copied or released to the public
## until I figure out how to pip install it
pybullet_tools/vhacd_utils.py
