**/*.pyc
.idea
**/*.bazel
temp
**/*.so

# windows extension build
*.pyd

**/.DS_Store
**~
**/*.swp
**/*.~un
build/

pybullet_tools/vhacd_utils.py

tutorials/visualizations/
tutorials/temp/
tutorials/statistics/
tutorials/txt_file.txt
tutorials/tests/temp_urdfs/
tutorials/pb_images/

mamao_tools/*.pdf
mamao_tools/*.json

*.png
*.ipynb_checkpoints/
