**/*.pyc
.idea
**/*.bazel
temp
**/*.so
**/txt_file.txt

# windows extension build
*.pyd

**/.DS_Store
**~
**/*.swp
**/*.~un
build/

pybullet_tools/vhacd_utils.py

*/visualizations/
*/temp/
*/statistics/
*/txt_file.txt
*/tests/temp_urdfs/
*/pb_images/
*.ipynb_checkpoints/
*.png

mamao_tools/*.pdf
mamao_tools/*.json

databases/*.pickle

